<div class="containerDinamic w-100 p-0">

    <div class="row m-0 p-0 justify-content-between ">
        <button style="height:56px;" onclick="buttonDinamicNav()" class="btn w-100 btn-info d-xl-none">Ver Examenes<i id="iconDinamicNavBars" class=" ml-4 fas fa-bars"></i></button>
        <nav class="col-12 col-xl-2 p-0 navDinamic">

            <ul id="ulDinamic" class="js-tab-content mt-1 mt-xl-4 mr-xl-1"></ul>
        </nav>
        <div id="contAlert" class="mt-5 mx-0">

        </div>
        <div class="col-12 col-xl-10 p-0 m-0" id="contExamenes">
            <div class="tab-content" id="nav-tabContent">

            </div>
        </div>
    </div>
</div>



